// Prism Sublime theme
@import "shCore.less";
@import "shCoreDefault.less";
@import "shThemeMidnight.less";

// Fontelo custom build
@import "fontello.less";

// twitter bootstrap
@import "bootstrap/bootstrap.less";

// open sans
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);

html, body {
	height:100%;
	background:#dcdcdc;
	margin:0;
	padding:0;
}

// box model and remove outline
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	outline:none;
}

#sidebar {
	width:320px;
	background: #090909;
	border-right:1px solid #e2e2e2;
	float:left;
	height:100%;
	#logo {
		height:180px;
		a {
			text-align: center;
			display: block;
			width:100%;
			padding:25px 0;
		}
	}
	ul {
		padding-left: 0;
		list-style-type: none;
		li {
			text-align: center;
			a {
				color:#b7b7b7;
				font-size: 14px;
				text-transform: uppercase;
				text-decoration: none;
				padding:42px 0;
				display:block;
				&:hover, &.active {
					color:white;
					text-decoration: none;
					background: #090909;
				}
			}
		}
	}
}

#projectDetail {
	width:320px;
	float:left;
	margin-left:320px;
	background:white;
	height:100%;
}

#content {
	padding:50px;
	width:auto;
	margin-left: 640px;
	.event {
		.type {
			font-size:11px;
			font-family: @monoFontFamily;
			text-transform: uppercase;
			line-height: 1;
			clear:both;
			text-shadow:1px 1px 0 #eee;
			&.typeError {
				color:#bf0404;
			}
			&.typeEvent {
				color:#bf0404;
			}
		}
		.description {
			background-color: #404238;
			-moz-box-shadow: inset 0 0 5px #929292;
			-webkit-box-shadow: inset 0 0 5px #929292;
			box-shadow: inset 0 0 5px #333;
			padding:15px 15px 5px 15px;
			color: #fff;
			font-family: @monoFontFamily;
			font-size: 14px;
			text-shadow: 0 1px 0 #000;
			cursor:pointer;
			position:relative;
			z-index:10;
			.fileInfo {
				text-align:right;
				clear:both;
				color:#999;
				font-size:11px;
				line-height: 1.1;
			}
		}
		.bottom {
			margin-top:1px;
			clear:both;
			margin-bottom:45px;
			.button {
				display:inline-block;
				font-size: 14px;
				font-weight: 700;
				color:white;
				background:#444;
				padding:5px 6px;
				text-transform: uppercase;
				opacity:0.9;
				&:hover {
					opacity:1;
					text-decoration: none;
				}
				&.detail {
					float:left;
					background:#587ea0;
				}
				&.ignore {
					float:right;
					background: #d97e7e;
				}
				&.solve {
					float:right;
					background: #52948f;
				}

			}
			.metainfo {
				float:left;
				display:inline-block;
				padding:12px 10px 0 20px;
				font-size:10px;
				color:#555555;
				a {
					font-weight: 700;
					text-decoration: underline;
					color:#555555;
				}
				&:hover, &:hover a {
					color:#000;
				}
			}
		}
	}
}

@media (min-width: 869px) {
	#sidebar {
		position: fixed;
		top:0;
		left:0;
		bottom:0;
		min-height:100%;
	}
}

@media (max-width: 868px) {
	#content {
		padding:5px;
		margin:0;
		.event {
			.description {
				font-size:12px;
				padding:5px;
			}
		}
	}
	#sidebar {
		position:fixed;
		width:100%;
		height:45px;
		overflow:hidden;
		bottom:0;
		left:0;
		right:0;
		z-index:15;
		#logo {
			display:none;
		}
		ul {
			margin:0;
			li a {
				display:block;
				width:33.3%;
				float:left;
				height:45px;
				padding:3px 0;
				i {
					display:block;
					clear:both;
				}
			}
		}
	}
}